<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddwucom.mobile.eatjust">

<!--    카메라로 촬영 후 메모리에 저장 권한 설정     -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<!--    파일 읽기 권한 설정     -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodActivity">

        </activity>
        <activity android:name=".StateActivity_Temp"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".StateActivity">

        </activity>
        <activity android:name=".CalendarActivity"/>
    </application>

</manifest>